<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <annotation-driven />

    <resources location="WEB-INF/images/" mapping="/static/images/**"/>
    <resources location="WEB-INF/js/" mapping="/static/js/**"/>
    <resources location="WEB-INF/style/" mapping="/static/styles/**"/>

</beans:beans>